* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: monospace;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 9999;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

.logo {
  padding-left: 19px;
  font-size: 30px;
  transition: 0.3s ease;
}

.logo:hover {
  color: rgb(79, 79, 239);
}

.toggler {
  font-size: 30px;
}

.list {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 20px;
  padding-inline-end: 29px;
}

.list li a:hover {
  color: rgb(79, 79, 239);
}

#toggler,
.navbar label {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  background-color: white;
}

.left {
  margin-inline-start: 40px;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left h1 {
  font-size: 5rem;
  font-family: monospace;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(178, 178, 255), rgb(114, 114, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left p {
  display: inline;
  font-size: 14px;
  font-family: monospace;
}

.left button {
  width: 15%;
  margin-top: 40px;
  padding: 10px 0;
  color: rgb(79, 79, 239);
  font-family: monospace;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid rgb(48, 48, 166);
  background-color: transparent;
  transition: 0.3s ease-in;
}

.left button:hover {
  background-color: rgb(79, 79, 239);
  color: white;
  box-shadow: 0 0 10px rgba(79, 79, 239, 0.9);
  border: 2px dashed rgb(254, 254, 255);
  width: 19%;
}

.right {
  margin-inline-end: 3px;
  width: 40%;
  display: flex;
  justify-content: center;
}

.right img {
  height: 350px;
  padding-top: 10px;
  padding-inline-start: 40px;
  padding-bottom: 10px;
  transition: 0.3s;

}

.right img:hover {
  transform: rotate(2deg);
  filter: drop-shadow(0 0 8px rgba(79, 79, 239, 0.2));
}

.bottom {
  background-color: black;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  transform: rotate(0.6deg);
}

.bottom p {
  display: inline;
  color: white;
  font-family: monospace;
  font-size: 16px;
  background: -webkit-linear-gradient(rgb(178, 178, 255), rgb(114, 114, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.head-title h2 {
  font-size: 3rem;
  font-family: monospace;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(178, 178, 255), rgb(114, 114, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head-title p {
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  padding-top: 20px;
}

.social-icon a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  transition: 0.2s;
}

.social-icon a:hover {
  color: rgb(48, 38, 186);
}

.img-box img {
  width: 100%;
  height: 90px;
  z-index: -2;
  position: relative;
  top: -10px;
}

.cards {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-family: monospace;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-img {
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.text-box h3 {
  font-size: 2rem;
}

.text-box p {
  font-size: 0.6rem;
}


.button-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box a {
  color: rgb(79, 79, 239);
  padding: 10px 20px;
  font-family: monospace;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid rgb(48, 48, 166);
  background-color: transparent;
  transition: 0.3s ease-in;
}

.button-box a:hover {
  background-color: rgb(79, 79, 239);
  color: white;
  box-shadow: 0 0 10px rgba(79, 79, 239, 0.9);
  border: 2px dashed rgb(254, 254, 255);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: monospace;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(178, 178, 255), rgb(114, 114, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardf {
  display: none;
  transition: 0.2s ease-in;
}

#load {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}

/* mobile size  */

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  #toggler:checked~.menu {
    max-height: 100%;

  }

  .header {
    margin-top: 20px;
  }

  .left {
    margin-inline-start: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .left h1 {
    font-size: 3rem;
    font-family: monospace;
    text-transform: uppercase;
    /* color: rgb(114, 114, 255); */
    background: -webkit-linear-gradient(rgb(178, 178, 255), rgb(114, 114, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .left p {
    display: inline;
    font-size: 10px;
    font-family: monospace;
  }

  .left button {
    width: 90%;
    margin-top: 20px;
    padding: 10px 0;
    color: rgb(79, 79, 239);
    font-family: monospace;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgb(48, 48, 166);
    background-color: transparent;
    transition: 0.3s ease-in;
  }

  .left button:hover {
    background-color: rgb(79, 79, 239);
    color: white;
    box-shadow: 0 0 10px rgba(79, 79, 239, 0.9);
    border: 2px dashed rgb(254, 254, 255);
    width: 95%;
  }

  .right img {
    height: 145px;
    padding-inline-end: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    transform: rotate(15deg);
  }

  .right {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    transform: rotate(0.6deg);
    overflow: hidden;
    gap: 29px;
  }

  .bottom p {
    display: inline;
    color: white;
    font-family: monospace;
    font-size: 11px;
    background: -webkit-linear-gradient(rgb(178, 178, 255), rgb(114, 114, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
  }

  .head-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .head-title h2 {
    font-size: 1.9rem;
    font-family: monospace;
    /* color: rgb(114, 114, 250); */
    background: -webkit-linear-gradient(rgb(178, 178, 255), rgb(114, 114, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .head-title p {
    font-size: 8px;
    display: inline;
    font-family: monospace;
    font-weight: bold;
  }

  .social-icon {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }

  .social-icon a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding-top: 10px;
    transition: 0.3s;
  }

  .social-icon a:hover {
    color: rgb(48, 38, 186);
  }

  .img-box img {
    width: 100%;
    z-index: -1;
    position: relative;
    top: -10px;
  }

  .cards {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .card-img {
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .text-box h3 {
    font-size: 0.9rem;
  }

  .text-box p {
    font-size: 0.4rem;
    display: inline;
    font-weight: bold;
  }


  .button-box {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-box a {
    color: rgb(79, 79, 239);
    padding: 10px 14px;
    font-family: monospace;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid rgb(48, 48, 166);
    background-color: transparent;
    transition: 0.3s ease-in;
  }

  .button-box a:hover {
    background-color: rgb(79, 79, 239);
    color: white;
    box-shadow: 0 0 10px rgba(79, 79, 239, 0.9);
    border: 2px dashed rgb(254, 254, 255);
  }

}